.container {
  background-color: #6472ee;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  h2 {
        font-weight: bold ;
        align-items: center;
        color: rgb(233, 219, 98);
  }

  span {
    align-items: center;
    color: blue;
    font-weight: 400;
} 

}

.images {
  display: flex;
  

}

.login-form {
  flex-direction:column;
}

.login-form h2 {
  text-align:center;
  margin-bottom: 20px;
 
}

.form-group {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  height: 10px;
  
  
}

.form-group label {
  font-weight: bolder;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  transform: translate(541%);
}